* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container {
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    gap: 6.5rem;
    position: relative;
    overflow: hidden;
}

.svg {
    position: absolute;
    z-index: -1;
}

.svg-2 {
    position: absolute;
    top: 35rem;
    z-index: -2;
}

/* hero section  */

.hero {
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 0 10rem;
}

.left-spring {
    position: absolute;
    top: 7rem;
    left: -7rem;
}

.right-spring {
    position: absolute;
    top: 20rem;
    right: -3rem;
}


.nav {
    width: 90rem;
    z-index: 2;
}

.access {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 177.778%;
    letter-spacing: -0.01125rem;
    color: #fff;
    text-decoration-color: #44FFA1;
}

.hero-title {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
}

.btn {
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: #44FFA1;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01125rem;
}

.phone {
    max-width: 44rem;
    position: absolute;
    top: 28rem;
}


/* content section  */

.content {
    max-height: 46rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding: 0 10rem;
}

.content-action {
    max-width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.action-number {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #584D62;
    border-radius: 50%;
    margin-bottom: 4rem;
}

.action-title, .action-info {
    color: #24053E;
}

.action-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 125%;
}

.action-info {
    font-size: 1.125rem;
    line-height: 177.78%;
}

/* about card section */

.about-card {
    height: 39rem;
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    position: relative;
    padding: 0 10rem;
}

.founder {
    max-width: 30rem;
    max-height: 30rem;
}

.greeting {
    width: 46rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    position: absolute;
    top: 11rem;
    left: 34rem;
    padding: 0 4rem;
    background-color: #24053E;
}

.greeting-title, .about {
    color: #fff;
}

.greeting-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 114.286%;
}

.about {
    font-size: 1.125rem;
    line-height: 1.77.78%;
}

.footer {
    height: 6rem;
    width:7rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 6rem 0;
}

.footer-social {
    display: flex;
    justify-content:space-between;
}