* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    max-width: 90rem;
    padding: 0 10rem;
}
.header {
    height: 45.625rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    overflow:hidden;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 0 10rem;
}

.svg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.left-spring {
    position: absolute;
    top: 7rem;
    left: -7rem;
}

.right-spring {
    position: absolute;
    top: 20rem;
    right: -3rem;
}


.nav {
    width: 90rem;
    z-index: 2;
}

.access {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 177.778%;
    letter-spacing: -0.01125rem;
    color: #fff;
    text-decoration-color: #44FFA1;
}

.hero-title {
    max-width: 40rem;
}


.title {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
}

.btn {
    min-width: 10rem;
    height: 3rem;
    border: none;
    background-color: #44FFA1;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01125rem;
}

.phone {
    max-width: 44rem;
    position: absolute;
    top: 28rem;
    z-index: 2;
}